<div class="home-module-wrapper home-brands">
  <div class="home-module home-full-width-feature brands">
    <ul class="brands-ul">
      	<li class="brand-li featured-in-li"><span class="featured_in">FEATURED IN</span></li>
      <li class="brand-li"><a href="http://gizmodo.com/skylock-is-the-bike-lock-of-the-future-and-its-awesome-1576515407"><img src="{{'image_gizmodo.png' | asset_url }}"/></a></li>
      <li class="brand-li"><a href="http://www.theverge.com/2014/5/15/5718442/skylock-is-a-keyless-solar-powered-bike-lock-that-just-launched-a"><img src="{{'image_verge.png' | asset_url }}" /></a></li>
      <li class="brand-li"><a href="http://www.wired.com/2014/05/bike-velo-skylock/"><img src="{{'image_wired.png' | asset_url }}" /></a></li>
      <li class="brand-li"><a href="http://www.businessinsider.com/skylock-bike-sharing-2014-5"><img src="{{'image_bi.png' | asset_url }}" /></a></li>
      <li class="brand-li"><a href="http://www.fastcoexist.com/3030415/create-your-own-bike-airbnb-with-this-new-networked-lock"><img src="{{'image_fc.png' | asset_url }}" /></a></li>
      <li class="brand-li"><a href="http://techcrunch.com/2014/05/15/skylock-velo-labs/"><img src="{{'image_tc.png' | asset_url }}" /></a></li>
    </ul>
  </div>
</div>